[user]
  email = magnus.lindstrom@tuta.io
  name = Magnus Lindstroem
[alias]
  d = describe --tags
  st = status
  # dash at the end makes $1 into argument nr1, and not nr2.
  fp = !bash -c 'git add -A && git commit -m \"${1:-debug}\" && git push' -
  logg = log --graph --all --decorate --pretty=oneline --abbrev-commit
[core]
  editor = vim
